@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: local('font/Billabong'), url('font/Billabong.woff') format('woff');
}

body,
html {
  background: #fafafa;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  max-height: 50px;
  overflow: hidden;
  background-color: #fafafa;
  position: fixed;
  padding: 0px 180px;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  z-index: 999;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .1);
  border-bottom: 0.5px solid #ddd;
}

nav a {
  /*  float: left;*/
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header {
  margin-bottom: 50px;
}

#navbar{
  display: flex;
}

#navbar-mobile{
  display: none;
}


.transparent {
  background: #fafafa !important;
}


.nav-left{
  flex-grow: 1;
}

.nav-right{
  flex-grow: 1;
  /*  margin-left: auto;*/
}

.nav-left a{
  float: right;
  padding: 0px;
}

/*SEARCH FORM*/
#search-form{
  flex-grow: 4;
  display: flex;
  justify-content: center;
  /*  flex: 4;*/
  margin-left: auto;
  margin-right: auto;
}

#search-div{
  width: 50%;
  transition: width 0.5s ease-in-out;
}

#search-form > div > input{
  border-radius: 50px;
  max-height: 25px;
  position: relative;
  top: 10px;
}

#search-form > div > input:focus{
  box-shadow: 0 0 5px rgba(81, 23, 238, 1);
  /*background: radial-gradient(ellipse at 70% 70%,#ee583f 8%,#d92d77 42%,#bd3381 58%);*/
}



.logo-text {
  float: left;
  display: block;
  padding-left: 4px;
  position: relative;

  font-family: 'Billabong', sans-serif;
  font-size: 2.5em;
  background: linear-gradient(to left bottom, #4c68d7, #8a3ab9, #cd486b, #fb8750, #FF9800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.logo {
  float: left;
  position: relative;
  bottom: 15px;
  background-image: url(icons.png);
  background-repeat: no-repeat;
  background-position: -261px -118px;
  height: 60px;
  width: 42px;
  transform: scale(0.65);

}

#profile{
  top: 5px;
  background-position: -370px -346px;
}

#notification {
  top: 7px;
  background-position: -401px 5px;
}

#explore {
  top: 7px;
  background-position: -401px -205px;
  /*  cursor: default;*/
}

.right-icon-nav {
  background-image: url(icons.png);
  background-repeat: no-repeat;
  /*  float: right;*/
  position: relative;
  margin: 0 10px 0 20px;
  transform: scale(0.9);
  height: 24px;
  width: 24px;

}

.disabled {
  opacity: 0.5;
}

#rainbow-progress-bar {
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 2px;

  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 900% 900%;

  animation: rainbow 9s ease infinite;
}

@keyframes rainbow { 
  0% { background-position: 0% 100%; }
  50% { background-position: 100% 200%; }
  100% {background-position: 0% 100%; }
}

@media (max-width: 800px) {
  #navbar{
    display: none;
  }
  #navbar-mobile{
    display: flex;
  }

  header {
    margin-bottom: 0px;
  }

  .navbar{
    margin-bottom: 0px !important;
  }

}

#navbar-mobile .search-bar{
  width: 100%;
  margin: 16px;
}


#navbar-mobile .bottom-nav-menu {
 position: fixed;
 bottom: 0px;
 width: 100%;
 display: block;
 background: white;
 min-height: 35px;
 z-index: 99999999;
 box-shadow: 1px -4px 8px 0 rgba(0, 0, 0, 0.1);
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 5px;
}

ul#horizontal-list li {
  position: relative;
  right: 28px;
  display: inline;
  padding: 0 15px;
}

#profile-mobile{
 background-image: url(icons.png);
 background-repeat: no-repeat;
 position: relative;
 margin: 0 10px 0 20px;
 transform: scale(1);
 height: 24px;
 width: 24px;
 top: 7px;
 background-position: -373px -353px;
}

#notification-mobile {
 background-image: url(icons.png);
 background-repeat: no-repeat;
 position: relative;
 margin: 0 10px 0 20px;
 transform: scale(1);
 height: 24px;
 width: 24px;
 top: 7px;
 background-position: -407px 1px;
}


#add-mobile {
 background-image: url(icons.png);
 background-repeat: no-repeat;
 position: relative;
 margin: 0 10px 0 20px;
 transform: scale(1);
 height: 25px;
 width: 25px;
 top: 7px;
 background-position: -407px -104px;
}



#home-mobile {
 background-image: url(icons.png);
 background-repeat: no-repeat;
 position: relative;
 margin: 0 10px 0 20px;
 transform: scale(1);
 height: 24px;
 width: 24px;
 top: 7px;
 background-position: -407px -261px;
 
}