h1 { font-weight: 300; font-size: 38px; margin: 0px 0px 0px 0px; line-height: 120%; font-family: 'Open sans', sans-serif; }


p { font-family: 'Open sans', sans-serif; color: #777777; font-size: 14px; }


a { color: #f20553; text-decoration: none; }


a:hover { color: #D80649; text-decoration: none; }



.profile{
	webkit-box-sizing: content-box; */
    box-sizing: content-box;
    padding: 60px 20px 0;
    width: calc(100% - 40px);
}

.user_img{
	height: 152px;
	width: 152px;
}	

.user_img img{
	border: 0;
	cursor: pointer;
	height: 100%;
	padding: 0;
	width: 100%;
}